body {
    color: #000;
    font-family: 'lato';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
}

.container {
    width: 1115px;
    margin: 0 auto;
}

.display-none {
    display: none;
}

.flex {
    display: flex;
}

.half-width {
    width: 50%;
}

.wrp-padding {
    padding: 0 0 0 15px;
}

.header {
    padding: 23px 0 31px;
    display: flex;
    justify-content: space-between;
}

.header-title {
    color: #005FA3;
    font-family: 'Merriweather';
    font-size: 36px;
    font-weight: 900;
    line-height: 50px;
    margin: 0 0 0 30px;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-contact-container {
    margin: 0 0 18px;
}

.header-contact-link {
    text-decoration: none;
}

.header-contact-text {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
}

.header-nav-link {
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
}

.header-nav-link-item:nth-of-type(n+2) {
    margin: 0 0 0 68px;
}

.desc {
    padding: 170px 0;
    background-color: #191E22;
    background-image: url(../img/first-screen-bkg.jpg);
}

.desc-title {
    margin: 0 0 131px;
}

.desc-title,
.desc-link {
    color: #FFF;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 700;
    line-height: 66px;
}

.desc-link {
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    line-height: 34px;
    background: #005FA3;
    width: 333px;
    min-height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service {
    background: #EBEBEB;
    padding: 140px 0;
}

.section-title {
    color: #BDBDBD;
    font-size: 24px;
    font-weight: 900;
    line-height: 33px;
    margin: 0 0 40px;
}

.section-sub-title {
    color: #333;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
    line-height: 69px;
}

.section-sub-title-blue {
    color: #005FA3;
}

.service-subtitle {
    margin: 0 0 102px;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-item:nth-of-type(n+4) {
    margin: 30px 0 0;
}

.service-item-link {
    background-image: url(../img/services-bkg.jpg);
    background-size: cover;
    text-decoration: none;
    width: 350px;
    min-height: 360px;
    display: flex;
    align-items: flex-end;
    padding: 45px;
    box-sizing: border-box;
}

.service-item-title {
    color: #FFF;
    font-size: 24px;
    line-height: 30px;
    font-weight: 900;
}

.button {
    color: #FFF;
    font-weight: 400;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color: #005FA3;
    border: none;
    padding: 0;
    box-sizing: border-box;
}

.review-title-wrp {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 0 67px;
}

.review {
    padding: 174px 0 120px;
}

.review-list {
    margin: 0 0 50px;
}

.review-item {
    background-color: #EBEBEB;
    padding: 45px 95px;
}

.review-item-text {
    color: #000;
    margin: 0 0 58px;
}

.review-item-author {
    color: #000;
    font-weight: 900;
}

.review-item-position {
    color: #4F4F4F;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.review-item-author-wrp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 35px;
}

.review-button {
    min-height: 60px;
    width: 270px;
}

.review-controls {
    display: flex;
    justify-content: space-between;
}

.review-slider-button {
    height: 10px;
    width: 10px;
    background-color: #005FA3;
    padding: 0;
    border: 0;
    border-radius: 50%;
    opacity: 0.4;
}

.review-slider-item-control {
    align-items: flex-end;
    display: flex;
}

.review-slider-item-control:nth-of-type(n+2) {
    margin: 0 0 0 40px;
}

.review-slider-arrow {
    height: 60px;
    width: 60px;
    background-color: #005FA3;
    border: 0;
    padding: 0;
    opacity: 0.2;
}

.review-slider-button-active {
    opacity: 1;
}

.about {
    padding: 140px 0;
}

.about-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-desc {
    width: 445px;
}

.about-item {
    background: #EBEBEB;
    min-height: 255px;
    width: 255px;
    padding: 30px 40px 40px;
    box-sizing: border-box;
}

.about-item:nth-of-type(n+3) {
    margin: 30px 0 0 0;
}

.about-subtitle {
    margin: 0 0 60px;
}

.about-item-num {
    font-size: 55px;
    font-style: normal;
    font-weight: 900;
    line-height: 66px;
    margin: 0 0 30px;
}

.about-item-header {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    margin: 0 0 47px;
}

.about-item-link {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: #005FA3;
}

.clients {
    background: #EBEBEB;
    padding: 85px 0 92px;
}

.clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.clients-subtitle {
    margin: 0 0 43px;
}

.advantage {
    background: #EBEBEB;
    padding: 102px 0 116px;
}

.advantage-list {
    display: flex;
    justify-content: space-between;
}

.advantage-item {
    width: 348px;
    min-height: 316px;
    padding: 80px 0 37px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center
}

.advantage-img {
    margin: 0 0 20px;
}

.advantage-subtitle {
    margin: 0 0 27px;
}

.advantage-desc {
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
}

.footer-bkg {
    background-color: #161616;
    color: #FFF;
    background-image: url(../img/form-bkg.jpg);
}

.footer-wrp {
    padding: 122px 0 140px;
}

.footer-subtitle {
    margin: 0 0 60px;
}

.footer-questions {
    width: 410px;
    margin: 0 0 80px;
}

.white {
    color: #FFF;
}

.form-contact-wrp {
    display: flex;
    justify-content: space-between;
    margin: 0 0 35px;
}

.input-label {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin: 0 0 15px;
}

input {
    width: 255px;
    padding: 4px 0 15px;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    background-color: transparent;
    font-family: inherit;
    font-size: 21px;
    font-weight: 300;
    line-height: 29px;
    color: #FFF;
}

input::placeholder,
textarea::placeholder {
    color:#BDBDBD;
}

textarea {
    padding: 4px 0 15px;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    background-color: transparent;
    width: 100%;
    min-height: 105px;
    box-sizing: border-box;
    margin: 0 0 50px;
    font-family: inherit;
    font-size: 21px;
    font-weight: 300;
    line-height: 29px;
    color: #FFF;
}

.form-button {
    display: block;
    width: 270px;
    min-height: 60px; 
    margin: 0 0 0 auto;
}

.footer-contact-text {
    font-size: 21px;
    line-height: 29px;
}

.footer-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
}

.footer-link {
    color: inherit;
    text-decoration: none;
}

.footer-about {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}